<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Wisebits tests" verbose="1" parallel="tests" thread-count="3" >
    <test name="Amazon" >
        <classes>
            <class name="AmazonTest" />
        </classes>
    </test>
    <test name="Bazaraki" >
        <classes>
            <class name="BazarakiTest" />
        </classes>
    </test>
</suite>


